@import "base";
@import "functions";

:global {
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: "helvetica-light", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
}
